@model UserLoginViewModel

@Html.ValidationSummary()

<div class="site-content subpage">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <div>
            @Html.LabelFor(m => m.Login)
            @Html.TextBoxFor(m => m.Login)
        </div>
        <div>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
        </div>
        <div>
            <button class="menu-button button bg-dark radius" style="width: 20%;" type="submit">Submit</button>
        </div>
        <div>
            No account yet? @Html.ActionLink("Register User", "Register", "Account", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>