@model CommunityIndexViewModel
<div class="page-title">
    <h2 style="color: white;">
        Your communities:
    </h2>
</div>

<div class="site-content subpage">

@using ( Html.BeginRouteForm( routeName: "Communities",
                              method: FormMethod.Get ) )
{
    <button type="submit">Browse Communities</button>
}

@using ( Html.BeginRouteForm( routeName: "UserCommunities",
                              method: FormMethod.Get ) )
{
    <div style="max-width:50%;">
        <div>
            @Html.LabelFor( m => m.Filters.Name )
            @Html.TextBoxFor( m => m.Filters.Name )
        </div>

        <div>
            @Html.LabelFor( m => m.Filters.Location )
            @Html.TextBoxFor( m => m.Filters.Location )
        </div>

        <button type="submit">Filter</button>
    </div>

}

<br />

<table>
    <thead>
        <tr>
            <th width="100px">Name</th>
            <th width="100px">Location</th>
            <th width="500px">Description</th>
            <th width="100px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var community in Model.Communities )
        {
            <tr>
                <td>@community.Name</td>
                <td>@community.Location</td>
                <td>@community.Description</td>
                <td>
                    @Html.RouteLink( linkText: "View Community",
                                               routeName: "Community",
                                               routeValues: new { communityId = community.Id } )
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
@*<div class="button-bar flex-column d-flex" style="margin-left:87%; margin-top:6%;">
    <ul class="list-unstyled ml-0">
        <li>
            <h6>Powiadomienie pierwsze</h6>
        </li>
        <li>
            <h6>Powiadomienie drugie</h6>
        </li>
    </ul>
</div>*@