@model ToolViewModel


@using ( Html.BeginRouteForm( routeName: "DoEditUserTool",
                             method: FormMethod.Post ) )
{
    <input type="hidden" name="id" value="@Model.Id">

    <h3>Required</h3>
    <div>
        @Html.LabelFor( m => m.Name )
        @Html.TextBoxFor( m => m.Name )
    </div>
    <div>
        @Html.LabelFor( m => m.Quality )
        @Html.EnumDropDownListFor( m => m.Quality )
    </div>

    <div>
        @Html.LabelFor( m => m.Visibility )
        @Html.EnumDropDownListFor( m => m.Visibility )

    </div>
    <h3>Optional</h3>
    <br />
    <div>
        @Html.LabelFor( m => m.Description )
        @Html.TextBoxFor( m => m.Description )
    </div>

    <div>
        <button type="submit">Save</button>
    </div>
}

<h3>Pictures</h3>
<div>
    @foreach ( var image in Model.ToolPictures )
    {
        var base64 = Convert.ToBase64String( image.PictureData );
        var imgSrc = String.Format( "data:image/gif;base64,{0}", base64 );

        using ( Html.BeginRouteForm( routeName: "GetUserToolImage",
                                      routeValues: new { toolId = Model.Id, toolImageId = image.Id },
                                      method: FormMethod.Get ) )
        {

            <input type="image" src="@imgSrc" alt="Submit" width="256" , height="256" />
        }

        using ( Html.BeginRouteForm( routeName: "DoDeleteUserToolImage",
                                      routeValues: new { toolId = Model.Id, toolImageId = image.Id },
                                      method: FormMethod.Post ) )
        {
            <button type="submit">Delete</button>
        }

    }

</div>
