@model ToolViewModel

<div>
    <div>
        @Html.NameFor(m => m.Name)
        @Model.Name
    </div>

    <div>
        @Html.NameFor(m => m.Description)
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            @Model.Description
        }
    </div>

    <div>
        @using ( Html.BeginForm( "Delete", "UserTool", FormMethod.Post ) )
        {
            <input type="hidden" name="id" value="@Model.Id">
            <button type="submit">Delete</button>
        }
    </div>


</div>



