<ul class="list-unstyled ml-0">
    @if (CurrentUser.Identity.IsAuthenticated)
    {
        <li>
            <a href="@Url.RouteUrl( "UserTools" )" class="menu-button button bg-dark radius">
                <label class="text-white h-100 align-items-center d-flex justify-content-center">
                    Your Tools
                </label>
            </a>
        </li>
        <li>
            <a href="@Url.RouteUrl( "UserCommunities" )" class="menu-button button bg-dark radius">
                <label class="text-white h-100 align-items-center d-flex justify-content-center">
                    Your Communities
                </label>
            </a>
        </li>

        <li>
            <a href="@Url.RouteUrl( "UserInvitations" )" class="menu-button button bg-dark radius">
                <label class="text-white h-100 align-items-center d-flex justify-content-center">
                    Invitations
                </label>
            </a>
        </li>

        @*<li>
                <a href="@Url.RouteUrl( "UserCommunities" )" class="menu-button button bg-dark radius">
                    <label class="text-white h-100 align-items-center d-flex justify-content-center">
                        New Button 2
                    </label>
                </a>
            </li>*@

        
       <hr />
    }
    <li>
        <a href="@Url.Action(" Index", "User" )" class="menu-button button bg-dark radius">
            <label class="text-white h-100 align-items-center d-flex justify-content-center">
                Users
            </label>
        </a>
    </li>
    <li>
        <a href="@Url.Action(" Index", "Community" )" class="menu-button button bg-dark radius">
            <label class="text-white h-100 align-items-center d-flex justify-content-center">
                Communities
            </label>
        </a>
    </li>

</ul>