
@* Wyswietlane z boku razem z przyciskami nawigacyjnymi *@

<div>
    <h2>Menu</h2>

    @if( CurrentUser.Identity.IsAuthenticated )
    {
        <div>
            @Html.RouteLink( linkText: "Your Tools",
                   routeName: "UserTools" )
        </div>
        <div>
            @Html.RouteLink( linkText: "Your Communities",
                   routeName: "UserCommunities" )
        </div>
        <br /><br />
    }
    <div>
        @Html.ActionLink("Rejestracja", "Register", "Account")
    </div>

    <div>
        @Html.ActionLink("Logowanie", "Login", "Account")
    </div>

    <div>
        @Html.ActionLink("Users", "Index", "User")
    </div>

    <div>
        @Html.ActionLink("Communities", "Index", "Community")
    </div>
</div>

