        <!-- Left Nav Section -->
<section class="left">
    <ul style="padding-left: 1%; width: 100px; margin-left: 0; height: 18%; position: absolute;" class="border border-dark border-right-0 border-bottom-0 border-top-0 pt-5 list-unstyled">
        <li>
            <a href="@Url.Action("Index", "Home")" class="text-black-50" style="font-size: 20px;">Home</a>
        </li>
        <li>
            <a href="@Url.Action("About", "Home")" class="text-black-50" style="font-size: 20px;">About</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Home")" class="text-black-50" style="font-size: 20px;">Contact</a>
        </li>
    </ul>
</section>
<!-- Right Nav Section -->
<section class="right">
    @if (CurrentUser.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Index","User")" class="button bg-dark radius" style="border-radius: 0px 0px 10px 10px; float: right;">@CurrentUser.Name</a>
    }
    else
    {
        <a href="@Url.Action("Login","Account")" class="button bg-dark radius" style="border-radius: 0px 0px 10px 10px; float: right;">Log in / Register</a>
    }
</section>
<section class="middle">
    <div class="row"style="width: 70%; align-items: center; float: right; justify-content: flex-end; margin-right: 3%; margin-top:0.5%">
        <img src="../images/icon.png" width="30px" height="30px" />
        <h3>TradeHub</h3>
    </div>
</section>