
@{
    ViewBag.Title = "UserPanel";
}

@* wyswietlane na gorze z nazwa urzytkownika, likiem do jego profilu itp *@
<div>
    <h2>UserPanel</h2>
    @if (CurrentUser.Identity.IsAuthenticated)
    {
        @: Witaj @CurrentUser.Name, twoje ID = @CurrentUser.Id
        @Html.ActionLink("Wyloguj", "Logout", "Account", new { returnUrl = Request.Url.AbsolutePath }, new { } )   
        @Html.ActionLink("Your communities", "Index", "UserCommunities", new { returnUrl = Request.Url.AbsolutePath }, new { } )   
        @Html.ActionLink("Skladzik", "Index", "UserTool", new { returnUrl = Request.Url.AbsolutePath }, new { })
    }
    else
    {
        @: Zaloguj sie jak chcysz powitanie
    }

</div>

