@model CommunityIndexViewModel

@using (Html.BeginForm("Create", "Community", FormMethod.Get, new { }))
{
    <div>
        <button type="submit">Create</button>
    </div>
}

@using (Html.BeginForm("Index", "Community", FormMethod.Get, new { }))
{
    <div>
        <div>
            @Html.LabelFor(m => m.Filters.Name)
            @Html.TextBoxFor(m => m.Filters.Name)
        </div>

        <div>
            @Html.LabelFor(m => m.Filters.Location)
            @Html.TextBoxFor(m => m.Filters.Location)
        </div>

        <button type="submit">Filter</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th width="100px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var community in Model.Communities)
            {
                <tr>
                    <td>@community.Name</td>
                    <td>@community.Location</td>
                    <td>
                        <a href="@Url.Action("View", new { Id = community.Id })">Show community</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}