@model UserIndexViewModel

<h1>Users belonging to:</h1>
<h2>@ViewData[ "CommunityName" ]</h2>

<br />

@using ( Html.BeginRouteForm( routeName: "CommunityUsers",
                              routeValues: new { communityId = ViewData[ "Id" ] },
                              method: FormMethod.Get ) )
{
    <div>
        <div>
            @Html.LabelFor( m => m.Filters.Login )
            @Html.TextBoxFor( m => m.Filters.Login )
        </div>

        <button type="submit">Filtruj</button>
    </div>
}

<br />

<table>
    <thead>
        <tr>
            <th>Login</th>
            <th width="200px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var user in Model.Users )
        {
            <tr>
                <td>@user.Login</td>
                <td>
                    @Html.RouteLink( linkText: "Show User Profile",
                                         routeName: "User",
                                         routeValues: new { userId = user.Id } )
                </td>
            </tr>
        }
    </tbody>
</table>