@model CommunityViewModel

<div>
    <div>
        @Html.NameFor(m => m.Name)
        @Model.Name
    </div>

    <div>
        @Html.NameFor(m => m.Location)
        @Model.Location
    </div>

    <div>
        @Html.NameFor(m => m.Description)
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            @Model.Description
        }
    </div>

    <div>
        @Html.ActionLink("Join", "Join", "UserCommunities", new { Model.Id }, new { } )

        @Html.ActionLink("Leave", "Leave", "UserCommunities", new { Model.Id }, new { } )
    </div>

</div>

