@model CommunityViewModel


<div class="site-content subpage">
    <div>
        <div>
            @Html.NameFor(m => m.Name)
            @Model.Name
        </div>

        <div>
            @Html.NameFor(m => m.Location)
            @Model.Location
        </div>

        <div>
            @Html.NameFor(m => m.Description)
            @if (!string.IsNullOrEmpty(Model.Description))
            {
                @Model.Description
            }
        </div>

        <br />

        @if ((bool)ViewData["IsMember"] == false)
        {
            using (Html.BeginRouteForm(routeName: "JoinCommunity",
                                          routeValues: new { communityId = Model.Id },
                                          method: FormMethod.Post))
            {
                <button type="submit">Request to join this Community</button>
            }
        }
        else
        {
            //Invite
        }

        <br />

        @using (Html.BeginRouteForm(routeName: "CommunityUsers",
                                  routeValues: new { communityId = Model.Id },
                                  method: FormMethod.Get))
        {
            <button type="submit">Users in this Community</button>
        }

        @if ((bool)ViewData["IsMember"] == true)
        {
            using (Html.BeginRouteForm(routeName: "CommunityTools",
                                          routeValues: new { communityId = Model.Id },
                                          method: FormMethod.Get))
            {
                <button type="submit">Browse Community Tools</button>
            }
        }


        @if ((bool)ViewData["IsMember"] == true)
        {
            <br />

            using (Html.BeginRouteForm(routeName: "LeaveCommunity",
                                        routeValues: new { communityId = Model.Id },
                                        method: FormMethod.Post))
            {
                <button type="submit">Leave this community</button>
            }
        }

    </div>
    </div>
    <!-- Mostly gonna be using BeginRouteForm, leaving just in case -->
    @*<div>
                @Html.RouteLink( linkText: "Browse Community Tools",
                    routeName: "CommunityTools",
                    routeValues: new { communityId = Model.Id } )
        </div>*@
