@model CommunityViewModel

<div>
    <div>
        @Html.NameFor( m => m.Name )
        @Model.Name
    </div>

    <div>
        @Html.NameFor( m => m.Location )
        @Model.Location
    </div>

    <div>
        @Html.NameFor( m => m.Description )
        @if ( !string.IsNullOrEmpty( Model.Description ) )
        {
            @Model.Description
        }
    </div>

    <br />

    @using ( Html.BeginRouteForm( routeName: "JoinCommunity",
                                   routeValues: new { communityId = Model.Id },
                                   method: FormMethod.Post ) )
    {
        <button type="submit">Join</button>
    }

    @using ( Html.BeginRouteForm( routeName: "LeaveCommunity",
                                      routeValues: new { communityId = Model.Id },
                                      method: FormMethod.Post ) )
    {
        <button type="submit">Leave</button>
    }

    <br />

    @using ( Html.BeginRouteForm( routeName: "CommunityTools",
                                  routeValues: new { communityId = Model.Id },
                                  method: FormMethod.Get ) )
    {
        <button type="submit">Browse Community Tools</button>
    }

    @using ( Html.BeginRouteForm( routeName: "CommunityUsers",
                              routeValues: new { communityId = Model.Id },
                              method: FormMethod.Get ) )
    {
        <button type="submit">Users in this Community</button>
    }

    <!-- Mostly gonna be using BeginRouteForm, leaving just in case -->
    @*<div>
                @Html.RouteLink( linkText: "Browse Community Tools",
                    routeName: "CommunityTools",
                    routeValues: new { communityId = Model.Id } )
        </div>*@

</div>

